/* 
Table of contents - EIT Moodle theme override:
- Universal
- Main navbar

*/
/*======================================
Universal
======================================*/
/* Embed font */
@font-face {
    font-family: biosansreg;
    src: url(https://moodle41-staging.eitidc.com/theme/boost/font/flat-it_-_biosans-regular.woff);
}

body {
    /* Make the text a bit more standoutish.. */
    font-family: biosansreg;
    font-weight: 500;
}

/* Lighter blue colour updates */
a {
    color: #407ec9;
}

/* Darker blue colour updates */
h1,h2,h3,h4,h5,h6 {
    color: #003a70;
}

/* Menu dropdown hover */
.dropdown-item:hover {
    background: #003a70;
}

/* Reduce the font weight */
h2,h3 {
    font-weight: 600;
}

/* Primary button 1 */
.btn-primary {
    color: white;
    background: #003a70;
    border: 1px solid #003a70;
    transition: .1s;
    border: 2px solid #003a70;
}

/* Primary button 1 */
.btn-primary:hover, .btn-primary:focus, btn-primary:active {
    background: white !important;
    color: #003a70 !important;
    border: 2px solid #003a70;
}

/* Logo on the top left */
/*
.navbar-brand {
    visibility: hidden;
}
*/
/*
.navbar-brand:before {
    visibility: visible;
    display: block;
    content: "";
    width: 129px;
    height: 54px;
    background: transparent url('https://jmackas.github.io/elements/moodle/eit_logov2.png') no-repeat;
}
*/
/*======================================
Main navbar
======================================*/
/* Main navbar */
.navbar {
    background: #003a70 !important;
    color: white;
}

/* Brand icon on the top left */
.navbar-light .navbar-brand {
    color: white;
}

/* Navbar main links */
.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* "Logo" on the left */
.navbar-light .navbar-brand, .navbar-light .navbar-brand {
    transition: .2s;
}

.navbar-light:hover .navbar-brand:hover, .navbar-light:focus .navbar-brand:focus, .navbar-light:active .navbar-brand:active {
    color: white;
    transform: translateY(-1px);
}

/* Navbar main active link */
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

/* Navbar active menu item */
.moremenu .nav-link.active, .moremenu .nav-link.active:hover {
    border-bottom-color: #e87722;
}

/* The border between Edit mode and Profile link*/
.border-left {
    border-left: 1px solid #407ec9!important;
}

/* All navbar hyperlinks */
[aria-label="Site navigation"] a {
    /* color: white; */
}

/* Navbar hover */
[aria-label="Site navigation"] .moremenu .nav-link:hover, [aria-label="Site navigation"] .moremenu .nav-link:focus {
    color: white !important;
    background: none !important;
    /* font-size: 110%; */
    /*     font-weight: 700; */
    border-bottom-color: #e87722;
    transition: .3s;
}

/* Navbar press button */
.nav-link:focus {
    transform: scale(1.02);
}

/* Notification bell hover */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: lightgray;
}

/* Navbar dropdown icon next to profile icon */
[aria-label="Site navigation"] .dropdown-toggle::after {
    color: white;
}

/* Make the "Edit mode" white when enabled */
.editmode-switch-form .text-primary {
    color: white !important;
}

/* Main menu nav icon in mobile */
.navbar-light .navbar-toggler-icon {
    background-image: url(https://jmackas.github.io/elements/moodle/main-menu-icon-mobile.png);
}

/*======================================
Course page 
======================================*/
/* Secondary nav menu items */
.secondary-navigation a {
    transition: .2s;
}

/* Hover effect for the secondary nav */
.secondary-navigation .moremenu .nav-link:hover, .secondary-navigation .moremenu .nav-link:focus {
    background: #407dc8;
    color: white;
}

/* Hover effect for the secondary nav drop downs */
.secondary-navigation .dropdown-item:hover {
    background: #407dc8;
}

/* Title of the course page */
#page-course-view-topics #page-header {
    border-bottom: 1px solid #dee2e6;
}

/* links and text within this block */
.courseindex .courseindex-item .courseindex-link, .courseindex .courseindex-item .courseindex-chevron, .courseindex .courseindex-item.dimmed .courseindex-link, .courseindex .courseindex-item.dimmed .courseindex-chevron {
    color: black;
}

/* Make the disabled sections more hidden */
.course-section.hidden div a, .course-section.hidden div h3 {
    /* opacity: 0.4; */
    color: #09447866;
}



/*======================================
Announcements block
======================================*/
/* Reordering the order of the title and data */
[data-block="news_items"] .post {
    display: table;
}

/* New article button */
[data-block="news_items"] .newlink {
    float: right;
    margin-bottom: 10px;
}

/* Place the title of the article above everything else */
[data-block="news_items"] .info {
    display: table-header-group;
    font-size: 15pt;
    font-weight: 700
}

/* Individual article blocks */
[data-block="news_items"] .post {
    margin-top: -1px;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

/* Put the metadata below everything else */
[data-block="news_items"] .head {
    font-size: 13pt;
    font-weight: 100;
    display: flex;
}

/* Put the date after the name of the user */
[data-block="news_items"] .head .date {
    padding-right: 5px;
    border-right: 1px solid #dfdfdf;
}

/* Put the date before the name of the user */
[data-block="news_items"] .head .name {
    margin-left: 5px;
}

/* Older topics link */
[data-block="news_items"] .footer {
    margin-top: 10px;
}

/*======================================
Login page
======================================*/
/* Login page background */
.pagelayout-login #page {
    background: url('https://jmackas.github.io/elements/moodle/iStock-1282046119_1920x1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


/* Login title header */
.login-heading {
    font-weight: 400;
    font-size: 1.8em !important;
    color: #0d3b70;
}

/* Add logo to the login page header */
.login-container:before {
    content: url("https://www.eit.edu.au/wp-content/uploads/2022/04/EIT_Logo.webp");
}

/* Make the logo centred */
.login-container {
    text-align: center;
}

/* Override the rest of the login page to ensure it does not get centred */
.loginform {
    text-align: initial;
}

/*======================================
EIT Admin Tools
======================================*/
/* Admin tools bubble notif */
.eitAdminTools {
    border: 1px solid #80008080;
    padding: 1em;
    border-radius: 0.5em;
    background:rgb(128 0 128 / 0.05);
    margin: 20px 0;
}

.eitAdminTools:before {
    content: 'EIT Admin';
    position: absolute;
    font-weight: 700;
    color: rgb(128 0 128 / 70%);
    font-size: 70%;
    transform: translate(-9px, -13px);
}

.quickSelectionMenu {
    text-align: center;
}

/*======================================
Misc / Specific
======================================*/
/* Collapsible topic "focus" button - border colour change */
[role="button"]:focus {
    box-shadow: 0 0 0 0.2rem #003a70bf;
}

a.nav-link.active:hover {
    background: initial;
}

/*===================
test
====================*/
